################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C# DB/Entity Framework Core/Exam Preparation/.vs/Invoices/FileContentIndex/01b085a4-58a1-4a81-b7cc-dc88252900d4.vsidx
C\# DB/Entity Framework Core/Exam Preparation/.vs/Invoices/FileContentIndex/1d3fc546-4b42-442b-aafa-5a75fd11ac78.vsidx
C\# DB/Entity Framework Core/Exam Preparation/.vs/Invoices/FileContentIndex/207c6ea8-1245-4732-a8e1-2c18ca2434bb.vsidx
C\# DB/Entity Framework Core/Exam Preparation/.vs/Invoices/FileContentIndex/238a3704-5090-4dfc-9598-65007582e8b0.vsidx
/C# DB/Entity Framework Core/Exam Preparation/.vs/Invoices/FileContentIndex/26cfc249-898a-45f6-bd8c-6f6fecc31412.vsidx
C\# DB/Entity Framework Core/Exam Preparation/.vs/Invoices/FileContentIndex/60639497-f85e-4f1b-94af-c3413c26a07d.vsidx
*.vsidx
