body{
    padding: 2em;
}
header{ 
    display: flex;
    align-items: center;
    border-bottom: 2px solid  rgb(0,0,0);
}
header h1{
    flex:1 1 80%;
    text-transform: uppercase;
   
}
nav{
    flex:1 1 30%;
}
ul{
    display: flex;
    justify-content: space-evenly;
}
ul li a{
    color:rgb(0, 153, 0);
    text-decoration: none;
}